
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BanBif | Empresas Banca por internet</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Library/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="~/Library/css/animate.css" rel="stylesheet">
    <link href="~/Library/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="~/Library/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/Library/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/Library/font-awesome/css/all.min.css" rel="stylesheet">


    <link href="~/Library/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Library/css/style.css" rel="stylesheet">


    <link rel="stylesheet" href="~/Library/css/fonts/fonts.css">



    <style type="text/css">
        <!--
        /* Tooltip */
        .tooltip {
            text-align: left !important;
            margin-left: 15px;
        }

        .tooltip-inner {
            text-align: left !important;
            padding: 15px !important;
            max-width: 300px !important;
        }

        .tooltip .tooltip-inner {
            text-align: justify !important;
            background-color: #20A3FF !important;
        }

        .tooltip.top .arrow {
            border-top-color: #20A3FF !important;
        }

        .bs-tooltip-top .arrow::before {
            top: 0;
            border-width: .4rem .4rem 0;
            border-top-color: #20A3FF !important;
        }

        .bs-tooltip-bottom .arrow::before {
            bottom: 0;
            border-width: 0 .4rem .4rem;
            border-bottom-color: #20A3FF !important;
        }

        .tooltip.top .tooltip-arrow {
            border-top-color: #20A3FF !important;
        }

        .tooltip.right .tooltip-arrow {
            border-right-color: #20A3FF !important;
        }

        .tooltip.bottom .tooltip-arrow {
            border-bottom-color: #20A3FF !important;
        }

        .tooltip.left .tooltip-arrow {
            border-left-color: #20A3FF !important;
        }
        -->
    </style>

</head>
<body id="page-top" class="landing-page no-skin-config blue-bg">

    <script>
        function soloNumeros(e) {
            var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57)
        }
    </script>




    <section id="testimonials" class=" navy-section testimonials shadow-lg " style="margin-top: 0; background-color:#20A3FF; padding-top:30px; background-image:none; padding-bottom: 0px">

        <div class="container text-dark">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/Library/img/logo_banbif_blanco.png" height="35">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 text-white">
                    <div>
                        <!--
                            <img class="hola" src="https://www.banbif.com.pe/Portals/0/Images/Personas/Prestamos%20Personales/Prestamo%20Hipotecario/FIP/img_HOLA.png" style="margin-bottom: 15px;" alt="Hola" height="50">
                            <br>
                            -->

                        <h1 class="fadeInUp" style="line-height:1; font-size:30px; margin-top:70px">
                            <strong style="font-weight: 700; font-family: 'Produkt Reg', Helvetica, Arial, sans-serif;">Banca</strong>
                            <br>
                            <small>
                                <strong style="font-weight: 700; font-family: 'Produkt Reg', Helvetica, Arial, sans-serif;">
                                    por Internet Empresas
                                </strong>
                            </small>
                        </h1>
                        <div class="m-t-lg m-b-lg ">
                            <img class="ptos" src="https://www.banbif.com.pe/Portals/0/Images/Personas/Prestamos%20Personales/Prestamo%20Hipotecario/FIP/img_puntos.png" alt="puntos" height="12">
                        </div>
                        <div class="d-none d-sm-none d-md-block">
                            <i class="fa fa-desktop fa-7x"></i>
                            <i class="fa fa-laptop fa-5x"></i>
                            <i class="fa fa-mobile-alt fa-3x"></i>
                        </div>


                    </div>
                </div>
                <div class="col-lg-7 wow fadeInUp animated"  id="divContent" >
                    <div id="inicio" class="text-white" style="font-family: Balto, Helvetica, Arialf; font-size:24px">
                        Solicita reposición de tokens y claves
                    </div>
                    <div class="widget  white-bg dark-text shadow-sm p-xl  " style="border-radius: 15px">



                        <div class="row m-t-sm">

                            <div class="col-4" style="padding-left:3px; padding-right:3px">
                                <div style="border-bottom-style:solid; border-bottom-color:#20a3ff; border-bottom-width:5px">
                                </div>
                            </div>
                            <div class="col-4" style="padding-left:3px; padding-right:3px">
                                <div style="border-bottom-style:solid; border-bottom-color:#20a3ff; border-bottom-width:5px">
                                </div>
                            </div>
                            <div class="col-4" style="padding-left:3px; padding-right:3px">
                                <div style="border-bottom-style:solid; border-bottom-color:#20a3ff; border-bottom-width:5px">
                                </div>
                            </div>

                        </div>
                        <div >


                            <div id="divCabecera">
                                <div class="row m-t-md">
                                    <div class="col-lg-12">
                                        <h2>Solicitud de modificación</h2>
                                    </div>
                                </div>



                                <div class="row m-t-md">
                                    <div class="col-lg-12">
                                        <div class="alert alert-info" style="font-size:12px; padding: 10px 10px">
                                            <ol style="text-align: justify; margin-top: 15px; padding-right: 20px">
                                                <li>Te avisaremos cuando tus tokens y claves estén listos para que los recojas en la oficina seleccionada</li>
                                                <li>Recuerda llevar la solicitud original firmada y sellada por los representantes legales</li>
                                                <li>Únicamente se entregarán los tokens y claves a las personas autorizadas en la solicitud</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                            </div>
                                


                                <div class="row m-t-md">
                                    <div class="col-lg-12"  style="font-family: Balto, Helvetica, Arialf; ">
                                        <h2>Datos de la empresa</h2>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-lg-12">
                                        <table width="100%"  style="font-family: Balto, Helvetica, Arialf; ">
                                            <tr>
                                                <td width="20%" valign="top">
                                                    <b class="text-success">Razon social:</b>
                                                </td>
                                                <td width="30%" valign="top">
                                                    <label id="lblRazonSocial"></label>
                                                </td>
                                                <td width="20%" valign="top">
                                                    <b class="text-success">RUC:</b>
                                                </td>
                                                <td width="30%" valign="top">
                                                    <label id="lblRuc"></label>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="20%" valign="top">
                                                    <b class="text-success">Dirección:</b>
                                                </td>
                                                <td width="30%" valign="top">
                                                    <label id="lblDireccion"></label>
                                                </td>
                                                <td width="20%" valign="top">
                                                    <b class="text-success">Teléfono:</b>
                                                </td>
                                                <td width="30%" valign="top">
                                                    <label id="lblTelefono"></label>
                                                </td>

                                            </tr>

                                        </table>
                                    </div>
                                </div>


                                <div class="row m-t-md">
                                    <div class="col-lg-12"  style="font-family: Balto, Helvetica, Arialf; ">
                                        <h2>Modificaciones</h2>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-lg-12">
                                        <table width="100%"  style="font-family: Balto, Helvetica, Arialf; ">
                                            <tr>
                                                <td width="100%" valign="top" colspan="4">
                                                    <b class="text-success">Nuevos tokens:</b>
                                                    <label id="lblTokenFisico"></label>
                                                </td>
                                            </tr>
                                            <tr id="trUsuarioAdmin">
                                                <td width="100%" valign="top" colspan="4">
                                                    <b class="text-success">Reposición de usuario administrador:</b>
                                                    <label id="ultokenadmin"></label>
                                                </td>

                                            </tr>

                                            <tr id="trReposicion1" style="display:none">
                                                <td width="100%" valign="top" colspan="4">
                                                    <b class="text-success">Reposición de tokens:</b>
                                                </td>
                                            </tr>
                                            <tr id="trReposicion2" style="display:none">
                                                <td width="100%" valign="top" colspan="4">
                                                    <ul id="ulReposicion"></ul>
                                                </td>
                                            </tr>
                                            <tr id="trNuevo1" style="display:none">
                                                <td width="100%" valign="top" colspan="4">
                                                    <b class="text-success">Nueva clave de 4 dígitos:</b>
                                                </td>
                                            </tr>
                                            <tr id="trNuevo2" style="display:none">
                                                <td width="100%" valign="top" colspan="4">
                                                    <ul id="ulNuevaclave"></ul>
                                                </td>
                                            </tr>


                                            <tr id="trAnulacion1" style="display:none">
                                                <td width="100%" valign="top" colspan="4">
                                                    <b class="text-success">Anulación de tokens:</b>
                                                </td>

                                            </tr>
                                            <tr id="trAnulacion2" style="display:none">
                                                <td width="100%" valign="top" colspan="4">
                                                    <ul id="ulAnulacion"></ul>
                                                </td>
                                            </tr>

                                            @*<tr>
                            <td width="100%" valign="top" colspan="4">
                                <b>Anular el servicio de la Banca por internet de empresas:</b>
                            </td>

                        </tr>
                        <tr>
                            <td width="100%" valign="top" colspan="4">
                                <ul id="ulAnulacionBanca"></ul>
                            </td>
                        </tr>*@

                                            <tr>

                                                <td width="20%" valign="top">
                                                    <b class="text-success">Monto a cargar:</b>
                                                </td>
                                                <td width="30%" valign="top">
                                                    <label id="lblPrecioTotal"></label>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <b class="text-success">Cuenta Cargo:</b>
                                                </td>
                                                <td valign="top">
                                                    <label id="lblCuentaCargo"></label>
                                                </td>
                                                <td valign="top">
                                                    <b class="text-success">Moneda:</b>
                                                </td>
                                                <td valign="top">
                                                    <label id="lblMoneda"></label>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td valign="top">
                                                    <b class="text-success">Persona de contacto:</b>
                                                </td>
                                                <td valign="top">
                                                    <label id="lblNombreAdministrador"></label>
                                                </td>
                                                <td valign="top">
                                                    <b class="text-success">Email:</b>
                                                </td>
                                                <td valign="top">
                                                    <label id="lblCorreoAdministrador"></label>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>



                                <div class="row m-t-md"> 
                                    <div class="col-lg-12"  style="font-family: Balto, Helvetica, Arialf; ">
                                        <h2>Datos de entrega</h2>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-lg-12">
                                        <table width="100%"  style="font-family: Balto, Helvetica, Arialf; ">
                                            <tr>
                                                <td width="20%" valign="top">
                                                    <b class="text-success">Dirección:</b>
                                                </td>
                                                <td valign="top">
                                                    <label id="lblDireccionEntrega"></label>
                                                </td>
                                                <td width="20%" valign="top">
                                                    <b class="text-success">Oficina:</b>
                                                </td>
                                                <td valign="top">
                                                    <label id="lblOficinaEntrega"></label>
                                                </td>
                                            </tr>

                                            <tr id="Autorizado1" style="display:none">
                                                <td width="20%" valign="top">
                                                    <b class="text-success">Autorizado:</b>
                                                </td>
                                                <td colspan="3" width="100%">
                                                    <table width="100%">
                                                        <tr>
                                                           
                                                            <td width="30%" valign="top">
                                                                <label id="lblNombreAutorizado1"></label>
                                                            </td>
                                                            <td width="10%" valign="top">
                                                                <b class="text-success">DOI:</b>
                                                            </td>
                                                            <td width="20%" valign="top">
                                                                <label id="lblDocumentoAutorizado1"></label>
                                                            </td>
                                                            <td width="20%" align="center">
                                                                <br /><br />
                                                                ___________________
                                                                <br />
                                                                Firma
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr id="Autorizado2" style="display:none">
                                                <td width="20%" valign="top">
                                                    <b class="text-success">Autorizado:</b>
                                                </td>
                                                <td colspan="3" width="100%">
                                                    <table width="100%">
                                                        <tr>
                                                            
                                                            <td width="30%" valign="top">
                                                                <label id="lblNombreAutorizado2"></label>
                                                            </td>
                                                            <td width="10%" valign="top">
                                                                <b class="text-success">DOI:</b>
                                                            </td>
                                                            <td width="20%" valign="top">
                                                                <label id="lblDocumentoAutorizado2"></label>
                                                            </td>
                                                            <td width="20%" align="center">
                                                                <br />
                                                                ___________________
                                                                <br />
                                                                Firma
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <br />

                                <div class="row mt-3 p-2">
                                    <div class="col-lg-12 text-justify"  style="font-family: Balto, Helvetica, Arialf; ">
                                        Declaramos que la información consignada es veraz y autorizamos a BanBif a verificarla.
                                        Firmamos la presente solicitud en señal de conformidad con los términos y condiciones del
                                        Contrato Único de Cuentas/Depósitos y Prestaciones de Servicios publicado en nuestra web a
                                        través <a href="https://www.banbif.com.pe/Home/Personas/Formularios_Contractuales" target="_blank"> www.banbif.com.pe/Home/Personas/Formularios_Contractuales</a>.
                                        Además, autorizamos contactar a la persona indicada como responsable del Usuario Administrador para realizar la activación y capacitación de la Banca por Internet. La garantía otorgado por cada token es de 3 meses.
                                    </div>
                                </div>
                                <br>
                                <br>

                                <div class="row mt-5 justify-content-md-center" id="divFirmas"  style="font-family: Balto, Helvetica, Arialf; ">

                                </div>
                            </div>

                        <div class="row mt-5">
                            <div class="col-lg-12 text-center" id="divImprimir">
                                <a href="#" onclick="printDiv()" class="btn btn-success btn-lg">Imprimir</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section>



    <section class="blue-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line" style="margin-top:25px; border-color: #ffffff"></div>
                    <div class="m-t-sm">
                        <p style="color: #ffffff !important"><b>BanBif</b> | Reinventa 2020</p>
                    </div>
                    <div class="navy-line" style="margin-top:-3px; margin-bottom:20px; border-color: #ffffff"></div>
                </div>
            </div>

        </div>

    </section>






    <!-- Mainly scripts -->
    <script src="~/Library/js/jquery-3.1.1.min.js"></script>
    <script src="~/Library/js/popper.min.js"></script>
    <script src="~/Library/js/bootstrap.js"></script>
    <script src="~/Library/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Library/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Library/js/inspinia.js"></script>
    <script src="~/Library/js/plugins/pace/pace.min.js"></script>
    <script src="~/Library/js/plugins/wow/wow.min.js"></script>

    <!-- Jasny -->
    <script src="~/Library/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- DROPZONE -->
    <script src="~/Library/js/plugins/dropzone/dropzone.js"></script>

    <!-- iCheck -->
    <script src="~/Library/js/plugins/iCheck/icheck.min.js"></script>

    <script>

        $(document).ready(function () {

            $('body').scrollspy({
                target: '#navbar',
                offset: 80
            });

            /*OBTENER DATOS*/
            var objRequest = {};
            objRequest.codigoregistro = sessionStorage.CODIGOREGISTRO;

            $.ajax({
                url: sessionStorage.APP + "/Gracias/ObtenerRegistro",
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: true,
                data: JSON.stringify(objRequest),
                success: function (resp) {
                    console.log(resp);
                    if (resp.result) {
                        $('#lblRuc').text(resp.data.ruc);
                        $('#lblRazonSocial').text(resp.data.razonsocial);
                        $('#lblDireccion').text(resp.data.direccion);
                        $('#lblTelefono').text(resp.data.telefono);
                        $('#lblEntidad').text(resp.data.entidad);
                        $('#lblAdministrador').text(resp.data.administrador);
                        $('#lblNombreAdministrador').text(resp.data.nombreadministrador);
                        $('#lblCorreoAdministrador').text(resp.data.emailadministrador);
                        $('#lblTelefonoAdministrador').text(resp.data.telefonoadministrador);
                        $('#lblDocumentoAdministrador').text(resp.data.dniadministrador);
                        $('#lblVersion').text(resp.data.version);
                        $('#lblCuentaCargo').text(resp.data.cuentacargo);
                        $('#lblMoneda').text(resp.data.moneda=="MN"?"S/":"$");
                        $('#lblTokenDigital').text(resp.data.tokendigitales);
                        $('#lblTokenFisico').text(resp.data.tokenfisico);
                        $('#lblDireccionEntrega').text(resp.data.direccionentrega);
                        $('#lblOficinaEntrega').text(resp.data.oficinaentrega);

                        
                        
                        if (resp.data.estado == 1 ) {
                            $('#ulAnulacionBanca').html('<li> Si</li>')
                        } else {
                            $('#ulAnulacionBanca').html('<li> No</li>')
                        }

                        if (resp.data.tokenadmin) {
                            $('#ultokenadmin').html('1')
                            $('#trUsuarioAdmin').show();
                        } else {
                            $('#trUsuarioAdmin').hide();
                            $('#ultokenadmin').html('0')
                        }
                        

                        
                        var total = ((resp.data.costo)).toFixed(2);
                        $('#lblPrecioTotal').text("US$ " + total);


                        var cont = 1;
                        $.each(resp.data.autorizados, function (index, item) {
                            $('#lblNombreAutorizado' + cont).text(item.autorizado);
                            $('#lblDocumentoAutorizado' + cont).text(item.documento);

                            $('#Autorizado' + cont).show();
                            cont += 1;

                        });
                        
                        /*ulReposicion*/
                        var htmlRep = '';
                        $.each(resp.data.reposicion, function (index, item) {
                            htmlRep += '<li>'+item.token+'</li>';
                        });

                        if (htmlRep == '') {
                            $('#trReposicion1').hide();
                            $('#trReposicion2').hide();
                        } else {
                            $('#trReposicion1').show();
                            $('#trReposicion2').show();
                            $('#ulReposicion').html(htmlRep);
                        }
                        

                        /*ulNuevaclave*/
                        var htmlRep = '';
                        $.each(resp.data.nuevaclave, function (index, item) {
                            htmlRep += '<li>' + item.token + '</li>';
                        });
                        
                        if (htmlRep == '') {
                            $('#trNuevo1').hide();
                            $('#trNuevo2').hide();
                        } else {
                            $('#trNuevo1').show();
                            $('#trNuevo2').show();
                            $('#ulNuevaclave').html(htmlRep);
                        }

                        


                        /*ulAnulacion*/
                        var htmlRep = '';
                        $.each(resp.data.anulacion, function (index, item) {
                            htmlRep += '<li>' + item.token + '</li>';
                        });

                        if (htmlRep == '') {
                            $('#trAnulacion1').hide();
                            $('#trAnulacion2').hide();
                        } else {
                            $('#trAnulacion1').show();
                            $('#trAnulacion2').show();
                            $('#ulAnulacion').html(htmlRep);
                        }

                        

                        /*firmas => divFirmas*/
                        var html = '<table style="width:100%;">';
                        html += '<tr>'
                        $.each(resp.data.representantes, function (index, item) {

                            html += '<td style="text-align:center; padding-right:20px">'
                            html += '<hr>';
                            html += '<small>';
                            html += 'Firma y Sello';
                            html += '<br>';
                            html += '<b>Representante legal</b>';
                            html += '<br>';
                            html += item.representante;
                            html += '<br>';
                            html += item.documento;
                            html += ' </small>';
                            html += '</td>'

                        });
                        html += '</tr>'
                        html += '</table>';
                        $('#divFirmas').html(html);

                    }
                }
            });



            function SmoothScrollTo(id_or_Name, timelength) {
                var timelength = timelength || 1000;
                $('html, body').animate({
                    scrollTop: $(id_or_Name).offset().top
                }, timelength, function () {
                    window.location.hash = id_or_Name;
                });
            }

            if (screen.width <= 500) {
                SmoothScrollTo("#inicio", 1000);
            }

            $('.custom-file-input').on('change', function () {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });


            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
                $("#navbar").collapse('hide');
            });
        });

        var cbpAnimatedHeader = (function () {
            var docElem = document.documentElement,
                    header = document.querySelector('.navbar-default'),
                    didScroll = false,
                    changeHeaderOn = 200;
            function init() {
                window.addEventListener('scroll', function (event) {
                    if (!didScroll) {
                        didScroll = true;
                        setTimeout(scrollPage, 250);
                    }
                }, false);
            }
            function scrollPage() {
                var sy = scrollY();
                if (sy >= changeHeaderOn) {
                    $(header).addClass('navbar-scroll')
                }
                else {
                    $(header).removeClass('navbar-scroll')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();

        })();

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();


        function printDiv() {
            $('#divCabecera').hide();
            $('#divImprimir').hide();
            
            var divContents = document.getElementById("divContent").innerHTML;
            var a = window.open('', '', 'height=500, width=500');
            a.document.write('<html>');
            a.document.write('<body>');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
            $('#divCabecera').show();
            $('#divImprimir').show();
        }
    </script>






</body>
</html>
